[submodule "common/include/mavlink"]
	path = common/include/mavlink
	url = https://github.com/mavlink/c_library_v2
[submodule "common/include/asio"]
	path = common/include/asio
	url = https://github.com/chriskohlhoff/asio.git
